version: "3"
services: 
  mysql:
    image: mysql:5.7
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=petclinic
      - MYSQL_DATABASE=petclinic
      - MYSQL_ROOT_HOST="%""
    volumes:
      - "./conf.d:/etc/mysql/conf.d:ro"
    networks:
      - devopsnet
  petclinic:
    image: petclinic
    ports:
      - "8080:8080"
    environment:
      - MYSQL_ADDRESS=petclinic
      - MYSQL_USERNAME=root
      - MYSQL_PASSWORD=petclinic
    volumes:
      - ../logs/petclinic/:/src/log 
    #user: "1000"
    restart: always
    links: 
      - mysql
    depends_on: 
      - mysql
    networks:
      - devopsnet
networks:
  devopsnet: